/* Define the fade-out class */
.fade-out {
  opacity: 0.5; /* Adjust the opacity value as needed */
  pointer-events: none; /* Disable pointer events to prevent interaction with faded-out elements */
  transition: opacity 0.3s ease; /* Add a smooth transition effect */
}

.datatable-container {
  position: relative; /* Ensure z-index works */
  z-index: 1; /* Adjust the z-index value as needed */
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Higher z-index than the DataTable container */
}
